.about {
    scrollbar-width: none;
}

.presentation-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-img {
    justify-content: center;
    display: flex;
    position: relative;
    
}
.presentation-img img{
    width: 350px;
    image-rendering: pixelated;
}
.cafe-gif {
    background: transparent;
    position: absolute;
}

.containerAnimated {
    background: white;
    display: flex;
    width: 420px;
    height: 420px;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.041);
    border: 3px solid black;
}

.movimiento {
    width: 150px;
    height: 150px;
    top: calc(50% - 150px / 2);
    left: calc(50% - 150px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    border-radius: 50%;
}

.icon{
    width: 3.5rem;
}