.about {
    scrollbar-width: none;
}

.presentation-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.presentation-img {
    justify-content: center;
    display: flex;
    position: relative;
    
}
.presentation-img img{
    width: 370px;
    image-rendering: pixelated;
}
.cafe-gif {
    background: transparent;
    position: absolute;
}

.containerAnimated {
    background: rgb(0, 0, 0);
    display: flex;
    width: 450px;
    height: 450px;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.041);
    border: 3px solid rgb(22, 22, 22);
}

.movimiento {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    border-radius: 50%;
}
